<div class="product-list">
    <div class="product-card">
      <img src="./assets/image/ola_s1_pro.jpg" alt="Product 1" class="product-image" />
      <h2>OLA S1 PRO</h2>
      <p>Pure Power.Peak Performance
        Now with a 8-years Battery Warranty</p>
      <p>Rs:1,00,000</p>
      <button (click)="addToCart({id: 1, name: 'OLA S1 PRO', price:100000 , description: 'Pure Power.Peak Performance
      Now with a 8-years Battery Warranty', imageUrl: 'assets/images/ola_s1_pro.jpg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/image/ola_s1_air.jpg" alt="Product 2" class="product-image" />
      <h2>OLA S1 AIR</h2>
      <p>Feature packed.Future packed.
        Now with a 8-years Battery Warranty</p>
      <p>RS:1,25,000</p>
      <button (click)="addToCart({id: 2, name: 'OLA S1 AIR', price: 125000, description: 'Feature packed.Future packed.
      Now with a 8-years Battery Warranty', imageUrl: 'ola_s1_air.jpeg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/image/ola_s1_x.jpg" alt="Product 3" class="product-image" />
      <h2>OLA S1X+</h2>
      <p>Upgrade to electric with style.
        Now with a 8-years Battery Warranty</p>
      <p>RS:1,50,000</p>
      <button (click)="addToCart({id: 3, name: 'OLA S1X+', price:150000, description: 'Upgrade to electric with style.
      Now with a 8-years Battery Warranty', imageUrl: 'ola_s1_x.jpeg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/image/s1x.jpg.jpg" alt="Product 4" class="product-image" />
      <h2>OLA S1X</h2>
      <p>Now with a 8-years Battery Warranty</p>
      <p>RS:1,30,000</p>
      <button (click)="addToCart({id: 4, name: 'OLA S1X', price: 130000, description: 'Now with a 8-years Battery Warranty', imageUrl: 's1x.jpg.jpg'})">Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="./assets/image/s1.jpg.jpg" alt="Product 5" class="product-image" />
      <h2>OLA S1</h2>
      <p>Feature packed.Future packed.
        Now with a 8-years Battery Warranty</p>
      <p>RS:80,000</p>
      <button (click)="addToCart({id: 5, name: 'OLA S1', price: 80000, description: 'Feature packed.Future packed.
      Now with a 8-years Battery Warranty', imageUrl: 's1.jpg.jpg'})">Add to Cart</button>
    </div>
  </div>
  