<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="about.component.css">
</head>
<body style="background-color: rgb(206, 238, 238);">
        <h1 style="font-family: 'Times New Roman', Times, serif;background-color: black;color: white;padding: 10px;">ABOUT</h1>
    <div class="container-fluid">
        <div class="five">
            <h1 style="font-size:50px;">Making india the global epicenter of  EV revolution</h1>
        </div>    
    </div>  
    <h1 style="color: black;padding-left: 15px;font-family: Arial, Helvetica, sans-serif;font-weight: normal;">We are a pure-play EV company building towars a brighter,safe and greener future.We are building towards making india the world's EV hub by craeting an Ecosystem with products,services and Technology which will define the next frontier of innovation.</h1> <br> <br>
    <h1 style="color: black;font-family: 'Times New Roman', Times, serif;padding-left: 40px;">Building an All-electric Future.From india.for the world.</h1> <br> <br>

    <div class="ser">
        <img src="aboutus_building_future_mweb_image.webp" width="40%" height="40%" >
        <img src="leading_from_the_front_mweb_v2.webp" width="40%" height="40%" style="margin-left: 9%;" >
    </div>
    <br><br>
    <div class="row">
        <div class="col-6" id="two">
            <h5 style="margin-left: 10%;color: grey;">Our DNA of R&D and technology including design,engineering and manufacturing are focussed on building high-quality and accessible EV products.
            <h5 style="margin-left: 10%;color: gray;padding-top: 10px;">From cell to electric vechiles,we are building the core technologies of the future which would drives this transition. </h5> 
            </h5>
        </div>
        
        <div class="col-6" id="three">
            <h5 style="margin-left: 7%;color: gray;">We have largest integrated and automated E2W manufacturing plant in india,spread across 400+acres* in Krishnagiri,Tamilnadu.We operate R&D facilities across india,Uk and US including the battery Innovation Center where we are developing industry leading cell and battery technology.</h5>
        </div>
    </div>
    <br> <br>
    <div class="ser">
        <img src="largest_factory_mweb01_v2.webp" width="20%" height="30%" style="margin-left: 9%;">
        <img src="largest_factory_mweb02_v2.webp" width="20%" height="30%" style="margin-left: 9%;" >
        <img src="largest_factory_mweb03_v2.webp" width="20%" height="30%" style="margin-left: 9%;">
    </div>
    <br><br>
    <p style="color: gray;font-weight:500;margin-left: 5%;">*Leased land in Krishnagiri of 417.59 acres for the operation of our manufacturing facilities:Futurefactory and upcoming Ola Gigafactory.</p>
</body>
</html>

